:host {
  .container-fluid {
    padding: 0;
    height: 40px;

    .row {
      height: 100%;
      width: 100%;
      display: inline-block;
      position: relative;

      .col-md-1 {
        height: 100%;
        display: inline-block;
        position: relative;
        width: 8%;
      }

      .col-md-11 {
        height: 100%;
        display: inline-block;
        position: relative;
        width: 91%;
      }

      .title {
        line-height: 31px;
        display: inline-block;
        position: relative;

        img {
          width: 18px;
          height: 18px;
          vertical-align: sub;
          line-height: 31px;
        }
      }
      .buttons {
        text-align: right;

        button {
          border: none;
          background-color: white;
          cursor: pointer;
        }

        img {
          width: 12px;
          height: 12px;
        }
      }
    }
  }
}
