
.sample-view-label {
  font-weight: bold;
  font-size: 10px;
  margin: 0 0 20px 0;
}

.sample-view-value {
  font-size: 12px;
  color: #bdbdbd;

  span {
    display: inline-block;
    position: relative;

    &:first-child {
      font-size: 32px;
    }

    &:last-child {
      top: -15px;
    }
  }
}

.info-block {
  border-right: 2px solid #bdbdbd;
  margin-top: 20px;
  width: 24%;
  display: inline-block;

  .row {
    display: block;
    position: relative;

    .col-md-3 {
      width: 25%;
      display: inline-block;
      position: relative;
    }
  }

  &:last-child {
    border-right: 0;
    * > .sample-view-value {
      color: black;
      font-weight: bold;
    }
  }
}
