<div class="container-fluid sample-view">
  <div class="row">
    <div class="col-md-3 info-block">
      <div class="row">
        <div class="col-md-12 sample-view-label">
          Monthly
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 sample-view-value">
          <span>2,824</span>
          <span>00</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 info-block">
      <div class="row">
        <div class="col-md-12 sample-view-label">
          Taxes
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 sample-view-value">
          <span>130</span>
          <span>00</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 info-block">
      <div class="row">
        <div class="col-md-12 sample-view-label">
          Prorated Charges
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 sample-view-value">
          <span>56</span>
          <span>99</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 info-block">
      <div class="row">
        <div class="col-md-12 sample-view-label">
          Final Charge
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 sample-view-value">
          <span>3,056</span>
          <span>88</span>
        </div>
      </div>
    </div>
  </div>
</div>
