<modal
  [title]="modalTitle"
  [titleIcon]="modalTitleIcon"
  [headerFactory]="headerFactory"
  [bodyFactory]="bodyFactory"
  [onClose]="closeModal">
  <div class="modal-footer-extension">
    <button type="button" class="btn btn-default" (click)="closeModal()">Close</button>
  </div>
</modal>
<main class="container">
  <div class="header">
    <h1><strong>Angular2 Modal Demo</strong></h1>
  </div>
  <div class="content">
    <button type="button" class="btn btn-default" (click)="launchModalWithHeaderComponent()">
      Launch with Sample Header and Body component
    </button>
    <button type="button" class="btn btn-default" (click)="launchModalWithHeaderText()">
      Launch with text header and Sample Body component
    </button>
  </div>
</main>

