<!--
  Usage:
  ** Parameters: title, headerFactory, bodyFactory, footerFactory
    Declare the parameters to help compose your dialog.
  ** Transclusions:
    Declare class of modal-[header | body | footer]-extension to perform transclusion.
  <modal [title]="myTitle" [headerFactory]="myHeaderFactoryInstance"
      [bodyFactory]="myBodyFactoryInstance" [footerFactory]="myFooterFactoryInstance">

    <div class="modal-header-extension">header</div>
    <div class="modal-body-extension">body</div>
    <div class="modal-footer-extension">footer</div>

  </modal>
  ** onClose:
  onClose is listening to EventEmitter which will close the dialog by default,
  i.e. bypassing any application state monitoring like Ngrx.  To feed close action into
  state like Ngrx, define closeCallback by declaring onClose input parameter.
-->
<div role="dialog" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
  [ngStyle]="{
   'display': visible ? 'block' : 'none',
   'opacity': visibleAnimate ? 1 : 0
  }">
  <!-- @todo: we may have to remove this if cyclops does not have it. -->
  <div class="stripe"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header-container">
        <modal-header (onClose)="closeNotified()" class="modal-header"
          [title]="modalTitle" [titleIcon]="modalTitleIcon" [factory]="headerFactory"></modal-header>
        <ng-content select=".modal-header-extension"></ng-content>
      </div>
      <div class="modal-body-container">
        <modal-body class="modal-body" [factory]="bodyFactory"></modal-body>
        <ng-content select=".modal-body-extension"></ng-content>
      </div>
      <div class="modal-footer-container">
        <modal-footer class="modal-footer" [factory]="footerFactory"></modal-footer>
        <ng-content select=".modal-footer-extension"></ng-content>
      </div>
    </div>
  </div>
</div>
