<div *ngIf="!factory" class="container-fluid" (onClose)="closeNotified($event)">
  <div class="row">
    <div class="col-md-11 title">
      {{title}}
    </div>
    <div class="col-md-1 buttons">
      <button type="button" class="btn btn-default btn-icon" (click)="close($event)">X</button>
    </div>
  </div>
</div>
