:host {
  background-color: black;
  background-color: rgba(0,0,0,0.7);
  bottom: 0;
  display: block;
  left: -9999px;
  overflow-y: auto;
  position: fixed;
  top: 0;

  &.visible {
    left: 0;
    opacity: 1;
    right: 0;
    z-index: 100;
  }
}

.stripe {
  background-color: #e0e0e0;
  height: 10px;
}

.modal {
  background-color: white;
  /* @todo: properly center vertically */
  margin: 15% auto;
  padding: 0 0 20px 0;
  width: 100%;
  z-index: 105;

  @media (min-width: 768px) {
    width: 80%;
  };
}

.modal-dialog {
  margin: 20px;
}

.modal-content {
  .modal-header-container {
    border-bottom: 2px solid #e0e0e0;
    padding: 20px 0 !important;
  }
}
