:host {
  .container-fluid {
    padding: 0;

    .row {
      height: 100%;
      width: 100%;
      display: inline-block;
      position: relative;

      .col-md-1 {
        height: 100%;
        display: inline-block;
        position: relative;
        width: 8%;
      }

      .col-md-11 {
        height: 100%;
        display: inline-block;
        position: relative;
        width: 91%;
      }
    }
  }

  .title {
    font-size: 1.8rem;
    line-height: 1.72;
    padding: 0;
  }
  .buttons {
    padding: 0;
  }
  button {
    float: right;
    border: none;
    background-color: white;
    cursor: pointer;
  }
}
